form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

label, input[type=text] {
  display: block;
}

input::placeholder {
  font-size: 1.3rem;
}

input[type=text] {
  padding: 10px 30px;
  margin: 8px 0;
  font-size: 1.3rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--outline);
  transition: border 0.05s ease-in-out;
}

input[type=text]:hover {
  border: 2px solid var(--third-color-hover);
}

input[type=text]:focus {
  border: 3px solid var(--third-color);
}

input[type=submit], button.claude-button, .claude-response-card > button, .clear-button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--dark);
  border-radius: 20px;
  border: 2px solid var(--outline);
  font-size: 1.1rem;
  transition: background 0.3s ease-in-out;
}

input[type=submit]:hover, button.claude-button:hover, .claude-response-card > button:hover, .clear-button:hover {
  background-color: var(--third-color-hover);
}

input[type=submit], .clear-button {
  margin-top: 15px;
}
