header {
  width: 100%;
  background-color: transparent;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header > h3 {
  margin: 0;
}

.city-text-header, .claude-text-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.claude-text-header {
  margin-top: 10px;
}

#header-icon {
  font-size: 1.8rem;
  transition: transform 0.3s ease-in-out;
}

#header-icon:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  h3 {
    width: 90%;
    text-align: center;
  }
}
