header {
  width: 100%;
  background-color: var(--third-color);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#header-icon {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  p {
    width: 90%;
    text-align: center;
  }
}
