header {
  width: 100%;
  background-color: transparent;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header > h3 {
  margin: 0;
}

.claude-text-header {
  margin-top: 10px;
}

#header-icon {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  h3 {
    width: 90%;
    text-align: center;
  }
}
