footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  color: var(--third-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--third-color-hover);
}

@media screen and (max-width: 768px) {
  footer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    padding-bottom: 20px;
    width: 90%;
  }
}
