@import './Components/Card/Card.css';
@import './Components/Footer/Footer.css';
@import './Components/Form/Form.css';
@import './Components/Header/Header.css';

@import './Components/Button.css';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > h1 {
  text-align: center;
}

.claude-card, .claude-response-card {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.claude-response-card {
  width: 700px;
  padding: 10px;
  margin: auto;
}

.top-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
