@import './Components/Card/Card.css';
@import './Components/Footer/Footer.css';
@import './Components/Header/Header.css';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

label, input[type=text] {
  display: block;
}

input::placeholder {
  font-size: 1rem;
}

input[type=text] {
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--outline);
  transition: border 0.05s ease-in-out;
}

input[type=text]:hover {
  border: 2px solid var(--third-color-hover);
}

input[type=text]:focus {
  border: 3px solid var(--third-color);
}


input[type=submit], button.claude-button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--dark);
  border-radius: 20px;
  border: 2px solid var(--outline);
  font-size: 1.1rem;
  transition: background 0.3s ease-in-out;
}

input[type=submit]:hover, button.claude-button:hover {
  background-color: var(--third-color-hover);
}

.claude-card, .claude-response-card {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.claude-response-card {
  width: 100%;
  text-align: center;
}

.top-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
